    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/all.min.css">
    <style>
        .gradient-bg {
            background: linear-gradient(135deg, #1e3a8a, #1e40af); /* Updated to a pleasant dark blue gradient */
        }
        .card {
            @apply bg-cool-blue-300 text-cool-blue-900 p-6 rounded-lg shadow-lg;
        }
    </style>