{% extends "default_template.html" %}

{% block main %}

<section class="hero is-medium">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-2 is-spaced">Secret Transfer</h1>
      <h2 class="subtitle">Securely share your secrets with a link.</h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half-desktop">
        <div class="card">
          <div class="card-content">
            <form action="/secrets/submit" method="post">
              <div class="field">
                <label class="label">Your Secret:</label>
                <div class="control">
                  <input class="input" type="text" id="secret" name="secret" placeholder="Enter your secret here">
                </div>
              </div>

              <button type="submit" class="button is-primary is-fullwidth">Submit</button>
            </form>

            <div class="mt-5">
              {% if result.is_some() %}
                <div class="field has-addons">
                  <div class="control is-expanded">
                    <input class="input is-success" id="secret-url" type="text" value="{{ result.as_ref().unwrap() }}" readonly>
                  </div>
                  <div class="control">
                    <button class="button is-success is-outlined" onclick="copyToClipboard()">
                      <span class="icon is-small">
                        <i class="fas fa-clipboard"></i>
                      </span>
                      <span>Copy</span>
                    </button>
                  </div>
                </div>
              {% else if result.is_none() %}
                <p></p>
              {% else %}
                <p class="has-text-danger">Error generating URL</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script>
    function copyToClipboard() {
      const url = document.getElementById('secret-url').value;
      navigator.clipboard.writeText(url).then(() => {
        alert('URL copied to clipboard');
      }).catch((err) => {
        console.error('Could not copy text: ', err);
      });
    }
  </script>

{% endblock main %}
